.subpanels {
  display: flex;

  .panel {
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
    background: white;
    flex-direction: column;
    margin: 10px;

    header {
      flex-basis: 32px;
      flex-grow: 0;
      flex-shrink: 0;
      background: #333;
      color: white;
      line-height: 32px;
      padding: 0 15px;
    }

    & > table {
      min-height: 32px;
      width: 100%;

      border-spacing: 0;
      border-collapse: collapse;

      tr {
        border-top: 1px solid #eee;
      }

      td, th {
        padding: 2px 7px;
      }
    }

    & > div {
      padding: 15px 15px 5px;
    }

  }
}
