@brand-primary: #ff370b;

@import "panels";

body, html {
  padding: 0;
  margin: 0;
}

body, td, th {
  font-family: sans-serif;
}

h2 {
  color: @brand-primary;
  font-size: 1.1em;
}

body {
  background: #eee;
}

.responsive() {
  max-width: 1000px;
  margin: 0 auto;
}

header {
  background: #333;
  padding: 10px;
  & > div {
    .responsive();

    nav {
      display: inline-block;
      padding-left: 15px;
    }
  }
}

main {
  .responsive();
  @media only screen and (max-device-width: 1001px) {
    padding: 10px;
  }
}

#logo {
  color: @brand-primary;
  font-weight: bold;
  font-size: 1.3em;
}

#support {
  margin-bottom: 32px;
  th {
    color: @brand-primary;
    text-align: left;
  }
  td, th {
    padding-right: 20px;
    padding-bottom: 5px;
  }
}

#login {
  th {
    text-align: right;
    padding-right: 20px;
  }
}

#provideroverzicht {
  th {
    text-align: left;
  }
  td, th {
    padding-right: 20px;
    padding-bottom: 5px;
  }
}

a {
  color: @brand-primary;
  text-decoration: none;
  &:hover {
    color: darken(@brand-primary, 10%);
    text-decoration: underline;
  }
}

svg {
  .device {
    rect {
      fill: white;
      stroke: black;
      stroke-width: 1px;
    }
    text {
      fill: black;
    }
  }
  .cable {
    stroke: black;
  }
}

form {
  label {
    font-size: 0.8em;
    display: block;
  }
  input[type=text], input[type=email], input[type=password], input[type=number], select, textarea {
    background: white;
    color: #333;
    padding: 10px;
    width: 100%;
    display: block;
    border-radius: 3px;
    border: 1px solid #ccc;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    box-sizing: border-box;

    &:focus {
      border-color: @brand-primary;
      outline: none;
    }

  }

  .checkbox {
    margin-bottom: 10px;

    label {
      font-size: 1em;
    }
  }
  .help-block,
  .help-spacer {
    margin-bottom: 10px;
  }

  .help-block {
    font-size: 0.8em;
    color: #444;
  }

}

#config-output {
  background: #333;
  color: white;
  overflow-x: scroll;
  padding: 10px;
}

.benchmarks {
  th {
    text-align: left;
  }
  tr td:last-child {
    text-align: right;
  }
}