.subpanels {
  display: flex;
}
.subpanels .panel {
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  background: white;
  flex-direction: column;
  margin: 10px;
}
.subpanels .panel header {
  flex-basis: 32px;
  flex-grow: 0;
  flex-shrink: 0;
  background: #333;
  color: white;
  line-height: 32px;
  padding: 0 15px;
}
.subpanels .panel > table {
  min-height: 32px;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}
.subpanels .panel > table tr {
  border-top: 1px solid #eee;
}
.subpanels .panel > table td,
.subpanels .panel > table th {
  padding: 2px 7px;
}
.subpanels .panel > div {
  padding: 15px 15px 5px;
}
body,
html {
  padding: 0;
  margin: 0;
}
body,
td,
th {
  font-family: sans-serif;
}
h2 {
  color: #ff370b;
  font-size: 1.1em;
}
body {
  background: #eee;
}
header {
  background: #333;
  padding: 10px;
}
header > div {
  max-width: 1000px;
  margin: 0 auto;
}
header > div nav {
  display: inline-block;
  padding-left: 15px;
}
main {
  max-width: 1000px;
  margin: 0 auto;
}
@media only screen and (max-device-width: 1001px) {
  main {
    padding: 10px;
  }
}
#logo {
  color: #ff370b;
  font-weight: bold;
  font-size: 1.3em;
}
#support {
  margin-bottom: 32px;
}
#support th {
  color: #ff370b;
  text-align: left;
}
#support td,
#support th {
  padding-right: 20px;
  padding-bottom: 5px;
}
#login th {
  text-align: right;
  padding-right: 20px;
}
#provideroverzicht th {
  text-align: left;
}
#provideroverzicht td,
#provideroverzicht th {
  padding-right: 20px;
  padding-bottom: 5px;
}
a {
  color: #ff370b;
  text-decoration: none;
}
a:hover {
  color: #d72700;
  text-decoration: underline;
}
svg .device rect {
  fill: white;
  stroke: black;
  stroke-width: 1px;
}
svg .device text {
  fill: black;
}
svg .cable {
  stroke: black;
}
form label {
  font-size: 0.8em;
  display: block;
}
form input[type=text],
form input[type=email],
form input[type=password],
form input[type=number],
form select,
form textarea {
  background: white;
  color: #333;
  padding: 10px;
  width: 100%;
  display: block;
  border-radius: 3px;
  border: 1px solid #ccc;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  box-sizing: border-box;
}
form input[type=text]:focus,
form input[type=email]:focus,
form input[type=password]:focus,
form input[type=number]:focus,
form select:focus,
form textarea:focus {
  border-color: #ff370b;
  outline: none;
}
form .checkbox {
  margin-bottom: 10px;
}
form .checkbox label {
  font-size: 1em;
}
form .help-block,
form .help-spacer {
  margin-bottom: 10px;
}
form .help-block {
  font-size: 0.8em;
  color: #444;
}
#config-output {
  background: #333;
  color: white;
  overflow-x: scroll;
  padding: 10px;
}
.benchmarks th {
  text-align: left;
}
.benchmarks tr td:last-child {
  text-align: right;
}
