<!DOCTYPE html>
<html>
<title>{% block title %}{% endblock %} - Provider Config</title>
<link rel="stylesheet" href="/static/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta charset="utf-8">
<header>
    <div>
        <a href="/" id="logo">Provider Config</a>
        <nav>
            <a href="{{ url_for('ftth_coax') }}">FTTH Coax</a>
            <a href="{{ url_for('benchmarks') }}">Benchmarks</a>
        </nav>
    </div>
</header>
<main>
    <article>
        {% block content %}{% endblock %}
    </article>
</main>
<script src="/static/mikrotik.js"></script>
</html>