{% extends "base.html" %}

{% block title %}Mikrotik Benchmarks{% endblock %}

{% block content %}
    <h1>Mikrotik Benchmarks</h1>
    <h2>PPPoE client benchmark</h2>
    <p>Deze test meet hoe snel de router PPPoE client kan zijn. De PPPoE client in mikrotik heeft geen hardwareversnelling en draait op één core</p>
    <table class="benchmarks">
        <tr>
            <th>Router</th>
            <th>Snelheid (Mbps)</th>
        </tr>
        {% for device, speed in benchmarks['ethernet_vlan_ppp'].items() %}
            <tr>
                <td>{{ device }}</td>
                <td>{{ speed }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}