{% extends "base.html" %}

{% block title %}{{ info.provider }} {{ info.netwerk }}{% endblock %}

{% block content %}
    <h1>{{ info.provider }} {{ info.netwerk }}</h1>
    <table id="support">
        <tr>
            <th>Internet</th>
            <th>Telefonie</th>
            <th>IPTV</th>
            <th>IPv6</th>
        </tr>
        <tr>
            <td>
                {% if info.provide_internet == 'yes' %}
                    {% if info.zcpe_internet == 'yes' %}
                        Ja, zonder modem
                    {% else %}
                        Ja, maar modem nodig
                    {% endif %}
                {% else %}
                    Word niet geleverd
                {% endif %}
            </td>
            <td>
                {% if info.provide_telefonie == 'yes' %}
                    {% if info.zcpe_telefonie == 'yes' %}
                        Ja, zonder modem
                    {% else %}
                        Ja, maar modem nodig
                    {% endif %}
                {% else %}
                    Word niet geleverd
                {% endif %}
            </td>
            <td>
                {% if info.provide_iptv == 'yes' %}
                    {% if info.zcpe_iptv == 'yes' %}
                        Ja, zonder modem
                    {% else %}
                        Ja, maar modem nodig
                    {% endif %}
                {% else %}
                    Word niet geleverd
                {% endif %}
            </td>
            <td>
                {% if info.provide_ipv6 == 'yes' %}
                    {% if info.zcpe_ipv6 == 'yes' %}
                        Ja, zonder modem
                    {% else %}
                        Ja, maar modem nodig
                    {% endif %}
                {% else %}
                    Word niet geleverd
                {% endif %}
            </td>
        </tr>
    </table>

    {% include "uplink_"+info.uplink_type+".html" %}
{% endblock %}