{% extends "base.html" %}

{% block title %}FTTH Coax{% endblock %}

{% block content %}
<h1>FTTH Coax</h1>
<p>
Een aantal glasvezel providers bieden naast IPTV ook DVB-C aan over de tweede glasvezel ader. Bij het systeem wat door reggefiber word gebuikt
gaan de ontvangers na een tijdje stuk.
</p>
<p>
Als vervanger van de originele converter kan een FTTH-OR20 van Aliexpress worden gebuikt. Deze kan worden aangesloten met een SC/SC koppelblokje en een 
SC-APC patchkabel
</p>
<img src="/static/or20.png" alt="FTTH OR20" title="FTTH OR20">
{% endblock %}