{% extends "base.html" %}

{% block title %}Alle providers{% endblock %}

{% block content %}
    <h1>Provideroverzicht</h1>
    <table id="provideroverzicht">
        <tr>
            <th>Provider</th>
            <th>Netwerk</th>
            <th>Medium</th>
        </tr>
        {% for p in providers %}
            <tr>
                <td>
                    <a href="/config/{{ p.code }}/">{{ p.provider }}</a>
                </td>
                <td>{{ p.netwerk }}</td>
                <td>{{ p.medium }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}