<p>
    Bij deze provider kun je een router direct achter het kabelmodem hangen en DHCP op de WAN poort laten doen. Hiermee
    krijgt de router het juiste publieke IP direct toegewezen. De TV en telefoniedienst loopt via het kabelmodem.
</p>
<p>
    Het is belangrijk dat het kabelmodem in bridgemodus is gezet zodat je het publieke IP krijgt in plaats van een
    intern
    IP van de modem/router. Bij sommige kabelmodems kan dit worden ingeschakeld in de webinterface en bij sommige moet
    dit
    via de helpdesk van de provider.
</p>
<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1000 260">
    <g transform="translate(30 30)">

        <line x1="0" y1="100" x2="50" y2="100" stroke-width="3" stroke="#{{ info.kabelkleur }}"/>
        <line x1="25" y1="100" x2="25" y2="-15" stroke-width="3" stroke="#{{ info.kabelkleur }}"/>
        <line x1="25" y1="-15" x2="250" y2="-15" stroke-width="3" stroke="#{{ info.kabelkleur }}"/>
        <line x1="250" y1="-15" x2="250" y2="25" stroke-width="3" stroke="#{{ info.kabelkleur }}"/>
        <line x1="250" y1="25" x2="300" y2="25" stroke-width="3" stroke="#{{ info.kabelkleur }}"/>

        <g class="device">
            <rect x="50" y="0" width="100" height="200" style="filter:url(#dropshadow)"/>
            <text x="100" y="100" font-size="12" text-anchor="middle">Kabelmodem</text>
        </g>

        <g class="device" transform="translate(300 0)">
            <rect x="0" y="0" width="100" height="50" style="filter:url(#dropshadow)"/>
            <text x="50" y="30" font-size="12" text-anchor="middle">TV</text>
        </g>


        {% if info.provide_telefonie == 'yes' %}
            <text x="160" y="95" font-size="12">Analoge telefonie</text>
            <line x1="150" y1="100" x2="300" y2="100" class="cable"/>

            <g class="device" transform="translate(300 75)">
                <rect x="0" y="0" width="100" height="50" style="filter:url(#dropshadow)"/>
                <text x="50" y="30" font-size="12" text-anchor="middle">Telefoon</text>
            </g>
        {% endif %}

        {% if info.provide_internet == 'yes' %}

            <text x="160" y="170" font-size="12">DHCP</text>
            <line x1="150" y1="175" x2="300" y2="175" class="cable"/>
            <text x="160" y="190" font-size="12">Geen PPP en VLAN</text>


            <g class="device" transform="translate(300 150)">
                <rect x="0" y="0" width="100" height="50" style="filter:url(#dropshadow)"/>
                <text x="50" y="30" font-size="12" text-anchor="middle">Router</text>
            </g>

            <line x1="400" y1="175" x2="500" y2="175" class="cable"/>

            <g class="device" transform="translate(500 150)">
                <rect x="0" y="0" width="100" height="50" style="filter:url(#dropshadow)"/>
                <text x="50" y="30" font-size="12" text-anchor="middle">Computers</text>
            </g>
        {% endif %}

        <filter id="dropshadow" height="130%">
            <feGaussianBlur in="SourceAlpha" stdDeviation="3"/> <!-- stdDeviation is how much to blur -->
            <feOffset dx="2" dy="2" result="offsetblur"/> <!-- how much to offset -->
            <feComponentTransfer>
                <feFuncA type="linear" slope="0.5"/> <!-- slope is the opacity of the shadow -->
            </feComponentTransfer>
            <feMerge>
                <feMergeNode/> <!-- this contains the offset blurred image -->
                <feMergeNode in="SourceGraphic"/> <!-- this contains the element that the filter is applied to -->
            </feMerge>
        </filter>
    </g>
</svg>

<h2>Mikrotik config generator</h2>
<p>
    Deze generator gaat er van uit dat de RouterOS versie 6.42 of hoger is en dat de router is gereset met de
    "No default config" optie.
</p>
<form id="config-form">
    <div class="subpanels">
        <div class="panel">
            <header>Internet</header>
            <div>
                <div class="form-group">
                    <label for="interface-wan">WAN Interface</label>
                    <input type="text" name="interface-wan" id="interface-wan" value="ether1">
                    <div class="help-block">Poort die is verbonden met het kabelmodem</div>
                </div>
                {% if info.ppp_mac_username == 'dashed_uc' %}
                    <div class="form-group">
                        <label for="wan-mac">MAC Address</label>
                        <input type="text" name="wan-mac" id="wan-mac" value="xx:xx:xx:xx:xx:xx">
                        <div class="help-block">Internet MAC adres van de {{ info.modem }}</div>
                    </div>
                {% elif '[' in info.ppp_username %}
                    <div class="form-group">
                        <label for="ppp-username">PPP Gebruikersnaam</label>
                        <input type="text" name="ppp-username" id="ppp-username" value="{{ info.ppp_username }}">
                        <div class="help-block">Gebruikersnaam voor de internetverbinding</div>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="panel">
            <header>LAN</header>
            <div>
                <div class="form-group">
                    <label><input type="checkbox" name="setup-nat" id="setup-nat"> Voeg NAT toe aan firewall</label>
                </div>
                <div class="form-group">
                    <label><input type="checkbox" name="setup-dhcp" id="setup-dhcp"> Voeg DHCP toe</label>
                </div>
                <div class="form-group">
                    <label for="router-ip">Router IP</label>
                    <input type="text" name="router-ip" id="router-ip" value="192.168.88.1/24">
                    <div class="help-block">IP voor de router en subnet voor het LAN</div>
                </div>
                <div class="form-group">
                    <label for="dhcp-range">DHCP range</label>
                    <input type="text" name="dhcp-range" id="dhcp-range" value="192.168.88.2-192.168.88.254">
                    <div class="help-block">Bereik van de DHCP server op het LAN</div>
                </div>
            </div>
        </div>
        <div class="panel">
            <header>Other</header>
            <div>
                <input type="submit" value="Genereren">
            </div>
        </div>
    </div>
</form>


<pre id="config-output">
    [Vul de gegevens hierboven in en druk op genereren]
</pre>

<p>
    Na het uitvoeren van het script moeten er nog een paar dingen handmatig gebeuren:
</p>
<ul>
    <li>Verander de gebruikersnaam/wachtwoord op de router</li>
    <li>Verbind de netwerkpoorten met de juiste bridge</li>
    <li>Stel wifi in</li>
</ul>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var form = document.getElementById('config-form');
        form.addEventListener('submit', function (event) {
            event.preventDefault();

            var interface_wan = document.getElementById('interface-wan').value;
            var ip_address = document.getElementById('router-ip').value;
            var enable_nat = document.getElementById('setup-nat').checked;
            var enable_dhcp = document.getElementById('setup-dhcp').checked;
            var dhcp_range = document.getElementById('dhcp-range').value;

            var config = {
                "interface bridge": [
                    ['add', {name: 'bridge-local'}]
                ],
                "ip dhcp-client": [
                    ['add', {interface: interface_wan, 'add-default-route': 'yes', disabled: 'no'}]
                ]
            };

            if (enable_nat) {
                config['ip firewall nat'] = [
                    ['add', {
                        chain: 'srcnat',
                        action: 'masquerade',
                        'out-interface': interface_wan
                    }]
                ];
                config['ip address'] = [
                    ['add', {
                        address: ip_address,
                        interface: 'bridge-local'
                    }]
                ]
            }

            if (enable_dhcp) {
                var network = '';
                var broadcast = '';
                var parts = ip_address.split('/');
                var octets = parts[0].split('.');
                switch (parts[1]) {
                    case "24":
                        network = octets[0] + '.' + octets[1] + '.' + octets[2] + '.0/' + parts[1];
                        broadcast = octets[0] + '.' + octets[1] + '.' + octets[2] + '.255';
                        break;
                    case "16":
                        network = octets[0] + '.' + octets[1] + '.0.0/' + parts[1];
                        broadcast = octets[0] + '.' + octets[1] + '.255.255';
                        break;
                    case "8":
                        network = octets[0] + '.0.0.0/' + parts[1];
                        broadcast = octets[0] + '.255.255.255';
                        break;
                }

                config['ip dhcp-server network'] = [
                    ['add', {
                        address: network,
                        gateway: parts[0],
                        netmask: parts[1],
                        'dns-server': '8.8.8.8,1.1.1.1'
                    }]
                ];

                config['ip pool'] = [
                    ['add', {
                        name: 'dhcp-pool',
                        ranges: dhcp_range
                    }]
                ];

                if (enable_iptv && iptv_routed) {
                    config['ip dhcp-server option'] = [
                        ['add', {
                            code: 60,
                            name: 'option60-vendorclass',
                            value: 'IPTV_RG'
                        }],
                        ['add', {
                            code: 28,
                            name: 'option28-broadcast',
                            value: broadcast
                        }]
                    ];
                    config['ip dhcp-server option sets'] = [
                        ['add', {
                            name: 'IPTV',
                            options: 'option60-vendorclass,option28-broadcast'
                        }]
                    ];
                }

                config['ip dhcp-server'] = [
                    ['add', {
                        name: 'dhcp-lan',
                        'address-pool': 'dhcp-pool',
                        'authoritative': 'yes',
                        'interface': 'bridge-local',
                        'disabled': 'no'
                    }]
                ];
            }

            var raw = generateConfig(config);
            var outputBox = document.getElementById('config-output');
            outputBox.innerText = raw + "\n";
        });
    });
</script>