<p>
    Deze provider biedt de verschillende diensten aan met VLAN's binnen de internetverbinding.
</p>
<p>
    Het internet loopt via een PPPoE sessie binnen VLAN {{ info.vlan_internet }} richting de provider. Dit verkeer kan
    weer geNAT worden voor de computers binnen het netwerk. IPTV en telefonie moet worden gebridged tussen de NTU en de
    aparatuur om het te laten functioneren.
</p>
{% if info.zcpe_telefonie == 'no' %}
    <p>
        Het telefoonverkeer kan niet worden afgehandeld zonder de modem van de provider dus er kunnen niet rechtstreeks
        SIP
        toestellen aan gehangen worden. Om telefonie te gebruiken kan de {{ info.modem }} weer achter de router gehangen
        worden
        om het telefoon verkeer af te handelen op de originele manier.
    </p>
{% endif %}

<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1000 260">
    <g transform="translate(30 30)">
        <g class="device">
            <rect x="0" y="0" width="100" height="100" style="filter:url(#dropshadow)"/>
            <text x="50" y="50" font-size="12" text-anchor="middle">NTU</text>
        </g>

        <line x1="100" y1="50" x2="250" y2="50" class="cable"/>
        <text x="110" y="70" font-size="12">VLAN tagged</text>
        <text x="110" y="70" font-size="12">
            {% if info.provide_internet == 'yes' %}
                <tspan x="110" dy="1.5em">{{ info.vlan_internet }}: Internet</tspan>
            {% endif %}
            {% if info.provide_internet == 'yes' %}
                <tspan x="110" dy="1.5em">{{ info.vlan_telefonie }}: Telefonie</tspan>
            {% endif %}
            {% if info.provide_internet == 'yes' %}
                <tspan x="110" dy="1.5em">{{ info.vlan_iptv }}: IPTV</tspan>
            {% endif %}
        </text>

        <g class="device" transform="translate(250)">
            <rect x="0" y="0" width="100" height="200" style="filter:url(#dropshadow)"/>
            <text x="50" y="100" font-size="12" text-anchor="middle">Router</text>
        </g>

        {% if info.provide_iptv == 'yes' %}
            <text x="360" y="20" font-size="12">Bridged</text>
            <line x1="350" y1="25" x2="500" y2="25" class="cable"/>
            <text x="360" y="40" font-size="12">VLAN {{ info.vlan_iptv }} untagged</text>

            <g class="device" transform="translate(500)">
                <rect x="0" y="0" width="100" height="50" style="filter:url(#dropshadow)"/>
                <text x="50" y="30" font-size="12" text-anchor="middle">IPTV Ontvanger</text>
            </g>
        {% endif %}

        {% if info.provide_telefonie == 'yes' %}
            <text x="360" y="95" font-size="12">Bridged</text>
            <line x1="350" y1="100" x2="500" y2="100" class="cable"/>
            <text x="360" y="115" font-size="12">VLAN {{ info.vlan_telefonie }} tagged</text>

            <g class="device" transform="translate(500 75)">
                <rect x="0" y="0" width="100" height="50" style="filter:url(#dropshadow)"/>
                <text x="50" y="30" font-size="12" text-anchor="middle">{{ info.modem }}</text>
            </g>

            <line x1="600" y1="100" x2="700" y2="100" class="cable"/>

            <g class="device" transform="translate(700 75)">
                <rect x="0" y="0" width="100" height="50" style="filter:url(#dropshadow)"/>
                <text x="50" y="30" font-size="12" text-anchor="middle">Telefoon</text>
            </g>
        {% endif %}

        {% if info.provide_internet == 'yes' %}
            <text x="360" y="170" font-size="12">Routed</text>
            <line x1="350" y1="175" x2="500" y2="175" class="cable"/>
            <text x="360" y="190" font-size="12">PPP op VLAN {{ info.vlan_internet }}</text>

            <g class="device" transform="translate(500 150)">
                <rect x="0" y="0" width="100" height="50" style="filter:url(#dropshadow)"/>
                <text x="50" y="30" font-size="12" text-anchor="middle">Computers</text>
            </g>
        {% endif %}

        <filter id="dropshadow" height="130%">
            <feGaussianBlur in="SourceAlpha" stdDeviation="3"/> <!-- stdDeviation is how much to blur -->
            <feOffset dx="2" dy="2" result="offsetblur"/> <!-- how much to offset -->
            <feComponentTransfer>
                <feFuncA type="linear" slope="0.5"/> <!-- slope is the opacity of the shadow -->
            </feComponentTransfer>
            <feMerge>
                <feMergeNode/> <!-- this contains the offset blurred image -->
                <feMergeNode in="SourceGraphic"/> <!-- this contains the element that the filter is applied to -->
            </feMerge>
        </filter>
    </g>
</svg>

{% if info.ppp_login_nodig == 'yes' %}
    <p>
        Voor deze provider zijn de exacte PPP login gegevens nodig voor een werkende verbinding:
    </p>
{% else %}
    <p>
        Deze provider controlleerd niet of de PPP logingegevens kloppen, alleen maar dat er PPP gebruikt word,
        de {{ info.modem }} gebruikt de volgende gegevens:
    </p>
{% endif %}
<table id="login">
    <tr>
        <th>Gebruikersnaam</th>
        <td>{{ info.ppp_username }}</td>
    </tr>
    <tr>
        <th>Wachtwoord</th>
        <td>{{ info.ppp_password }}</td>
    </tr>
</table>
{% if info.ppp_mac_username == 'dashed_uc' %}
    <p>
        Vervang [MAC] door het MAC adres van het originele modem in het XX-XX-XX-XX-XX-XX formaat.
    </p>
{% endif %}

<h2>Mikrotik config generator</h2>
<p>
    Deze generator gaat er van uit dat de RouterOS versie 6.42 of hoger is en dat de router is gereset met de
    "No default config" optie.
</p>
<form id="config-form">
    <div class="subpanels">
        <div class="panel">
            <header>Internet</header>
            <div>
                <div class="form-group">
                    <label for="interface-wan">WAN Interface</label>
                    <input type="text" name="interface-wan" id="interface-wan" value="ether1">
                    <div class="help-block">Poort die is verbonden met de NTU</div>
                </div>
                {% if info.ppp_mac_username == 'dashed_uc' %}
                    <div class="form-group">
                        <label for="wan-mac">MAC Address</label>
                        <input type="text" name="wan-mac" id="wan-mac" value="xx:xx:xx:xx:xx:xx">
                        <div class="help-block">Internet MAC adres van de {{ info.modem }}</div>
                    </div>
                {% elif '[' in info.ppp_username %}
                    <div class="form-group">
                        <label for="ppp-username">PPP Gebruikersnaam</label>
                        <input type="text" name="ppp-username" id="ppp-username" value="{{ info.ppp_username }}">
                        <div class="help-block">Gebruikersnaam voor de internetverbinding</div>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="panel">
            <header>Telefonie</header>
            <div>
                <div class="form-group">
                    <label><input type="checkbox" name="setup-phone" id="setup-phone"> Telefonie inschakelen</label>
                </div>

                <div class="form-group">
                    <label for="interface-phone">{{ info.modem }} Interface</label>
                    <input type="text" name="interface-phone" id="interface-phone" value="ether2">
                    <div class="help-block">Poort waar de {{ info.modem }} aan hangt voor telefonie</div>
                </div>
            </div>
        </div>
        <div class="panel">
            <header>IPTV</header>
            <div>
                <div class="form-group">
                    <label><input type="checkbox" name="setup-iptv" id="setup-iptv"> IPTV inschakelen</label>
                </div>

                <div class="form-group">
                    <label><input type="checkbox" name="iptv-routed" id="iptv-routed"> Routed IPTV</label>
                    <div class="help-block">Maak een configuratie met IGMP Proxy in plaats van een bridge</div>
                </div>
            </div>
        </div>
    </div>
    <div class="subpanels">
        <div class="panel">
            <header>LAN</header>
            <div>
                <div class="form-group">
                    <label><input type="checkbox" name="setup-nat" id="setup-nat"> Voeg NAT toe aan firewall</label>
                </div>
                <div class="form-group">
                    <label><input type="checkbox" name="setup-dhcp" id="setup-dhcp"> Voeg DHCP toe</label>
                </div>
                <div class="form-group">
                    <label for="router-ip">Router IP</label>
                    <input type="text" name="router-ip" id="router-ip" value="192.168.88.1/24">
                    <div class="help-block">IP voor de router en subnet voor het LAN</div>
                </div>
                <div class="form-group">
                    <label for="dhcp-range">DHCP range</label>
                    <input type="text" name="dhcp-range" id="dhcp-range" value="192.168.88.2-192.168.88.254">
                    <div class="help-block">Bereik van de DHCP server op het LAN</div>
                </div>
            </div>
        </div>
        <div class="panel">
            <header>Other</header>
            <div>
                <input type="submit" value="Genereren">
            </div>
        </div>
    </div>
</form>


<pre id="config-output">
    [Vul de gegevens hierboven in en druk op genereren]
</pre>

<p>
    Na het uitvoeren van het script moeten er nog een paar dingen handmatig gebeuren:
</p>
<ul>
    <li>Verander de gebruikersnaam/wachtwoord op de router</li>
    <li>Verbind de netwerkpoorten met de juiste bridge</li>
    <li>Stel wifi in</li>
</ul>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var form = document.getElementById('config-form');
        form.addEventListener('submit', function (event) {
            event.preventDefault();

            var vlan_iptv = {{ info.vlan_iptv }};
            var vlan_phone = {{ info.vlan_telefonie }};
            var vlan_internet = {{ info.vlan_internet }};
            var iptv_routed = document.getElementById('iptv-routed').checked;
            var interface_wan = document.getElementById('interface-wan').value;
            var interface_phone = document.getElementById('interface-phone').value;
            var ip_address = document.getElementById('router-ip').value;
            var enable_phone = document.getElementById('setup-phone').checked;
            var enable_iptv = document.getElementById('setup-iptv').checked;
            var enable_nat = document.getElementById('setup-nat').checked;
            var enable_dhcp = document.getElementById('setup-dhcp').checked;
            var dhcp_range = document.getElementById('dhcp-range').value;

            {% if '[MAC]' in info.ppp_username %}
                var mac = document.getElementById('wan-mac').value;
                {% if info.ppp_mac_username == 'dashed_uc' %}
                    mac = mac_to_uc_dashed(mac);
                {% endif %}
                var username = '{{ info.ppp_username }}';
                username = username.replace('[MAC]', mac);
            {% elif '[' in info.ppp_username %}
                var username = document.getElementById('ppp-username').value;
            {% else %}
                var username = '{{ info.ppp_username }}';
            {% endif %}
            {% if '[' in info.ppp_password %}
                var password = document.getElementById('ppp-password').value;
            {% else %}
                var password = '{{ info.ppp_password }}';
            {% endif %}

            {% if 'routed_iptv' in info %}
                var iptv_subnets = '{{ info.routed_iptv }}';
            {% else %}
                var iptv_subnets = '';
            {% endif %}

            var config = {
                "interface vlan": [
                    ['add', {
                        interface: interface_wan,
                        name: "vlan-uplink-internet",
                        "vlan-id": vlan_internet
                    }]
                ],
                "interface bridge": [
                    ['add', {name: 'bridge-local'}]
                ],
                "ppp profile": [
                    ['set 0', {
                        'change-tcp-mss': 'yes',
                        name: 'default',
                        'only-one': 'default',
                        'use-compression': 'default',
                        'use-encryption': 'default',
                        'use-mpls': 'default'
                    }]
                ],
                "interface pppoe-client": [
                    ['add', {
                        'add-default-route': 'yes',
                        'allow': 'pap,mschap2',
                        'dial-on-demand': 'no',
                        'disabled': 'no',
                        'interface': 'vlan-uplink-internet',
                        'keepalive-timeout': 20,
                        'max-mru': 1480,
                        'max-mtu': 1480,
                        'mrru': 'disabled',
                        'name': 'pppoe-internet',
                        'password': password,
                        'profile': 'default',
                        'use-peer-dns': 'no',
                        'user': username
                    }]
                ]
            };
            if(iptv_routed){
                    config['interface bridge'][0] = ['add', {name: "bridge-local", "igmp-snooping": 'yes'}];
            }

            if (enable_nat) {
                config['ip firewall nat'] = [
                    ['add', {
                        chain: 'srcnat',
                        action: 'masquerade',
                        'out-interface': 'pppoe-internet'
                    }]
                ];
                config['ip address'] = [
                    ['add', {
                        address: ip_address,
                        interface: 'bridge-local'
                    }]
                ]
            }

            if (enable_dhcp) {
                var network = '';
                var broadcast = '';
                var parts = ip_address.split('/');
                var octets = parts[0].split('.');
                switch (parts[1]) {
                    case "24":
                        network = octets[0] + '.' + octets[1] + '.' + octets[2] + '.0/' + parts[1];
                        broadcast = octets[0] + '.' + octets[1] + '.' + octets[2] + '.255';
                        break;
                    case "16":
                        network = octets[0] + '.' + octets[1] + '.0.0/' + parts[1];
                        broadcast = octets[0] + '.' + octets[1] + '.255.255';
                        break;
                    case "8":
                        network = octets[0] + '.0.0.0/' + parts[1];
                        broadcast = octets[0] + '.255.255.255';
                        break;
                }

                config['ip dhcp-server network'] = [
                    ['add', {
                        address: network,
                        gateway: parts[0],
                        netmask: parts[1],
                        'dns-server': '8.8.8.8,1.1.1.1'
                    }]
                ];

                config['ip pool'] = [
                    ['add', {
                        name: 'dhcp-pool',
                        ranges: dhcp_range
                    }]
                ];

                if (enable_iptv && iptv_routed) {
                    config['ip dhcp-server option'] = [
                        ['add', {
                            code: 60,
                            name: 'option60-vendorclass',
                            value: 'IPTV_RG'
                        }],
                        ['add', {
                            code: 28,
                            name: 'option28-broadcast',
                            value: broadcast
                        }]
                    ];
                    config['ip dhcp-server option sets'] = [
                        ['add', {
                            name: 'IPTV',
                            options: 'option60-vendorclass,option28-broadcast'
                        }]
                    ];
                }

                config['ip dhcp-server'] = [
                    ['add', {
                        name: 'dhcp-lan',
                        'address-pool': 'dhcp-pool',
                        'authoritative': 'yes',
                        'interface': 'bridge-local',
                        'disabled': 'no'
                    }]
                ];

                if (enable_iptv && iptv_routed) {
                    config['ip dhcp-server'][0][1]['dhcp-option-set'] = 'IPTV';
                }
            }

            if (enable_phone) {
                if (!config.hasOwnProperty('interface bridge port')) {
                    config['interface bridge port'] = [];
                }
                config['interface vlan'].push(['add', {
                    interface: interface_wan,
                    name: "vlan-uplink-telefonie",
                    "vlan-id": vlan_phone
                }]);
                config['interface vlan'].push(['add', {
                    interface: interface_phone,
                    name: "vlan-fxo-telefonie",
                    "vlan-id": vlan_phone
                }]);
                config['interface bridge'].push(['add', {name: "bridge-telefonie"}]);
                config['interface bridge port'].push(['add', {
                    bridge: "bridge-telefonie",
                    interface: "vlan-uplink-telefonie"
                }]);
                config['interface bridge port'].push(['add', {
                    bridge: "bridge-telefonie",
                    interface: "vlan-fxo-telefonie"
                }])
            }

            if (enable_iptv) {
                config['interface vlan'].push(['add', {
                    interface: interface_wan,
                    name: "vlan-uplink-iptv",
                    "vlan-id": vlan_iptv
                }]);

                if (iptv_routed) {
                    config['ip dhcp-client option'] = [
                        ['add', {
                            code: 60,
                            name: 'option60-vendorclass',
                            value: '"IPTV_RG"'
                        }]
                    ];
                    config['ip dhcp client'] = [
                        ['add', {
                            'add-default-route': 'special-classless',
                            'default-route-distance': 254,
                            'dhcp-options': 'option60-vendorclass',
                            disabled: 'no',
                            interface: 'vlan-upstream-iptv',
                            'use-peer-dns': 'no',
                            'use-peer-ntp': 'no'
                        }]
                    ];
                    config['routing igmp-proxy interface'] = [
                        ['add', {
                            'alternative-subnets': iptv_subnets,
                            'interface': 'vlan-upstream-iptv',
                            'upstream': 'yes'
                        }],
                        ['add', {
                            'interface': 'bridge-local'
                        }]
                    ];

                    var iptv_subnet_list = iptv_subnets.split(',');
                    if (!config.hasOwnProperty('ip firewall nat')) {
                        config['ip firewall nat'] = [];
                    }
                    for (var i = 0; i < iptv_subnet_list.length; i++) {
                        config['ip firewall nat'].push(['add', {
                            chain: 'srcnat',
                            'dst-address': iptv_subnet_list[i],
                            'out-interface': 'vlan-upstream-iptv',
                            action: 'masquerade'
                        }]);
                    }
                } else {
                    if (!config.hasOwnProperty('interface bridge')) {
                        config['interface bridge'] = [];
                    }
                    if (!config.hasOwnProperty('interface bridge port')) {
                        config['interface bridge port'] = [];
                    }

                    config['interface bridge'].push(['add', {name: 'bridge-iptv'}]);
                    config['interface bridge port'].push(['add', {
                        bridge: 'bridge-iptv',
                        interface: "vlan-uplink-iptv"
                    }])
                }
            }

            var raw = generateConfig(config);
            var outputBox = document.getElementById('config-output');
            outputBox.innerText = raw + "\n";
        });
    });
</script>